body {
    background-image: url("https://img.freepik.com/premium-photo/abstract-tree-shadow-background-product-presentation_34050-887.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
   
}
body {
    height: 100vh;
    margin: 0%; 
}
img {
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
    
 
h1, p {
    margin: 0%;
}
.cta-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
   
} 
.btn {
    padding: 12px 20px;
    border: 1px solid wheat;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    border-radius: 100px;
    margin: 0px;
    border-color: black;

    
}


a {
    color: black;
   
}
.btn:hover {
    color: white;
    background: black;
}